$palette-text-primary: #cacaca;

// primary
$palette-primary-light: #ffc840;
$palette-primary-main: #ffc840;
$palette-primary-dark: #ffc840;

// secondary
$palette-secondary-light: #1e1e1e;
$palette-secondary-main: #1e1e1e;
$palette-secondary-dark: #1e1e1e;

// error
$palette-error-light: #e57373;
$palette-error-main: #f44336;
$palette-error-dark: #d32f2f;

// success
$palette-success-light: #81c784;
$palette-success-main: #4caf50;
$palette-success-dark: #388e3c;

$spacing: 8px;

* {
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    color: $palette-text-primary;
    background-color: $palette-secondary-main;
    transition: all 0.25s;
}

body {
    padding: 0;
    margin: 0;
}

section {
    margin-bottom: 1em;
}

.page {
    width: 95%;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
}

.page-divider {
    width: 100%;
    padding: 0.5em;
    background-color: $palette-primary-main;
    
    & * {
        background-color: $palette-primary-main;
    }
}

.with-border {
    border: 2px solid $palette-primary-main;
    border-radius: 1em;
}

.flex-group {
    display: flex;
    justify-content: space-evenly;
}

/* INPUT */
.tm-input {
    display: grid;
    grid-template-columns: 100px auto auto;

    & > * {
        padding: 0.25em;
    }
    & label {
        background-color: $palette-primary-main;
    }
    & input {
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
    }
    @media(hover: hover) and (pointer: fine) {
        & input:hover,
        & input:focus {
            color: white;
        }
    }
    & > input[data-valid="true"] + span {
        display: none;
    }
    & > input[data-valid="false"] + span {
        display: block;
    }
}

/* RANGE */
/*
.tm-range {
    padding: 0.25em 0.5em;
    text-align: left;

    & input {
        appearance: none;
        width: 100%;
        outline: none;
        cursor: pointer;
        margin: 0;
        background-color: inherit;
    }
    & ::-moz-range-thumb,
    ::-webkit-slider-thumb {
        appearance: none;
        width: 25px;
        height: 25px;
        border: none;
        background: $palette-primary-main;
    }
    & ::-moz-range-track {
        width: 100%;
        background: #cacaca;
        border-radius: 0.25em;
    }
    & div {
        display: flex;
        justify-content: space-between;
    }
    & span {
        font-size: 0.5em;
    }
}*/


/* ACTION-ICON */

.tm-action-icon {
    height: 2em;
    width: 2em;
    cursor: pointer;
    border-radius: 1em;
    background-color: $palette-secondary-main;

    & > * {
        height: 100%;
        padding: 0.25em;
        background-color: inherit;
    }
    &[data-state="2"] > * {
        fill: $palette-primary-main;
    }
    &[data-state="1"] > * {
        fill: $palette-success-main;
    }
    &[data-state="0"] > * {
        fill: $palette-error-main;
    }
    @media(hover: hover) and (pointer: fine) {
        &:hover > *,
        &:focus > * {
            fill: $palette-primary-main;
        }
    }
}

[data-display="true"] {
    display: block;
}
[data-display="false"] {
    display: none;
}


